.mainBlock {
    height: 100vh;
    background-color: #FFD4F0;
}

.greeting {
    width: 300px;
    background-color: #F7F7F7;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #F7F7F7;
}