body {
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.wrapper {
    max-width: 1440px;
    margin: auto;
}
.block1 {
    position: relative;
}
.main-photo {
    position: absolute;
    display: inline-block;
    top: -30px;
    left: 0px;
    width: 640px;
    height: 560px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-clip-path: polygon(31% 0,100% 25%,61% 100%,0 93%);
    clip-path: polygon(31% 0,100% 25%,61% 100%,0 93%);
}

.header-menu {
    display: flex;
    justify-content: right;
}

.header-menu__item {
    color: #fff;
}

.header-menu__item:not(:last-child) {
    margin-right: 80px;
}

.header-menu__item {
    position: relative;
    overflow: hidden;
    display: inline-block;
    font-size: 2em;
    line-height: 2.5;
    color: #fff;
    font-weight: 600;
    opacity: .65;
    text-decoration: none;
    transition: color .7s cubic-bezier(.165,.85,.45,1);
    -moz-transition: color .7s cubic-bezier(.165,.85,.45,1);
    -webkit-transition: color .7s cubic-bezier(.165,.85,.45,1);
    -o-transition: color .7s cubic-bezier(.165,.85,.45,1);
}

.header-menu__item:hover {
    opacity: 1;
}

.header-menu__link-effect {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -webkit-transition: transform .7s cubic-bezier(.165,.85,.45,1);
    transition: transform .7s cubic-bezier(.165,.85,.45,1);
}

.header-menu__item:hover .header-menu__link-effect:nth-child(1) {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}

.header-menu__link-effect.hover {
    position: absolute;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
}

.header-menu__item:hover .header-menu__link-effect.hover {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
}

.block1 {
    position: relative;
    min-height: 560px;
}

.block1__about_me {
    color: #fff;
    margin: 12% 0 0 45%;
    font-size: 5em;
    overflow: hidden;
    letter-spacing: .15em;
    max-width: 780px;
    position: relative;
    font-weight: bold;
  }

  .block1__about_me::after {
    content: '';
    border-right: 0.15em solid orange;
    animation: blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  .block1__color-g {
    color: #61ce70;
  }

  .block2__skills {
    background-color: #fff;
    border-radius: 50px;
  }

  .block2 {
    padding: 60px 0;
  }

  .block2__title {
    text-align: center;
    padding: 50px 0 0;
    font-size: 3em;
    font-weight: bold;
  }
  
  .block2__img {
    display: block;
    margin: auto
  }